<section class="tt_login_container">
    <div class="tt_content">
        <header>登录页面</header>
        <div class="tt_text_input">
            <dl>
                <dt>手机号</dt>
                <dd>
                    <input type="tel" ng-model="mobile" placeholder="请输入手机号码"/>
                </dd>
                <dt>密码</dt>
                <dd>
                    <input type="psd" ng-model="password" placeholder="请输入密码">
                </dd>
            </dl>

        </div>
        <footer>
            <div ng-click="verify()">登录</div>
            <p class="tt_tips">
                选手报名即默认参赛作品的版权归大赛组委会所有。详情请见《<a href="#/notice">报名须知</a>》
            </p>
            <p class="tt_tips">
                点击：<a href="#/register">注册</a>
            </p>
        </footer>
    </div>

</section>
