<section class="tt_notice_container">
    <header>报名须知</header>
    <dl>
        <dt>一、作品要求</dt>
        <dd>参赛形式：绘画、录音、文字描述</dd>
        <dd>参赛主题：语动生命·笔记自然</dd>
        <dd>参赛要求：画种材料，表现形式不限；作品规格一律A3大小，29.7cm*42cm（请勿自行裱装）</dd>
        <dd>截稿日期：2017年05月18日（将完成的作品上传后交到幼儿园或“画语大赛”组委会）</dd>
    </dl>
    <dl>
        <dt>二、作者要求</dt>
        <dd>成都市3-12岁的小朋友（幼儿园、小学），可独立参赛或以家庭为单位参赛</dd>
    </dl>
    <dl>
        <dt>三、报名及作品提交</dt>
        <dd>关注“蕃茄小镇”公众微信号，点击页面下方“最新活动”中的“说画大赛”，选择“成都赛区”。然后根据页面提示——我要报名——在家长手机号一栏写上手机号码并短信验证后直接登录——上传作品。</dd>
    </dl>
    <dl>
        <dt>四、作品提交注意事项</dt>
        <dd>参赛选手需在作品后面右下角注明参赛选手的信息，包括：参赛手机号、选手姓名、年龄段、幼儿园名称、所在地区。参赛信息须填写清楚，缺一不可。选手作品可尽早准备，并在05月10日之前把作品上交到幼儿园或“画语大赛”组委会，组委会的地址是：成都市高新区吉泰路666号花样年·福年广场2座801，联系方式是：028-83192960。</dd>
    </dl>
    <dl>
        <dt>五、参赛费用</dt>
        <dd>本次活动收取参赛费30元（含报名费、工本费、作品裱装费等；选手一律自愿报名参加）</dd>
    </dl>
    <dl>
        <dt>六、活动声明</dt>
        <dd>1. 本次大赛参赛作品将由组委会统一进行装裱，待优秀作品展和轮展结束后，选手可取回作品留念。</dd>
        <dd>2. 优秀作品将会收录到出版书籍中，选手报名即默认参赛作品的版权归大赛组委会所有。</dd>
        <dd>3. 本次活动解释权归大赛组委会所有。</dd>
    </dl>
    <footer ng-click="goToPrevPage()">我知道了</footer>
</section>
